{% extends "base.html" %}
{% block content %}
    <div class="content">

        <div class="p-header">
            {% if contractnumber %}
            ДОГОВОР № {{ contactnumber }}
            {% else %}
            ДОГОВОР № ____________
            {% endif %}
            <br>
            об оказании платных образовательных услуг по дополнительным образовательным программам
        </div>

        <br>

        <p class="leftstr">Екатеринбург</p>
        <p class="rightstr">{% if contractdate %} {{ contractdate }} {% else %} «___»____________20___г. {% endif %}</p>
        <div style="clear: left"></div>

        <br>

        <p>
            Федеральное государственное автономное образовательное учреждение высшего образования «Российский
            государственный профессионально-педагогический университет» (РГППУ),
            осуществляющее образовательную деятельность (далее – образовательная организация) на основании лицензии
            Федеральной службы по надзору в сфере образования и
            науки от 17.03.2016 № 2003, свидетельства о государственной аккредитации Федеральной службы по надзору
            в сфере образования и науки от 28.11.2018 № 2948, именуемое в дальнейшем «Исполнитель», в лице исполняющего обязанности ректора Дубицкого Валерия Васильевича,
            действующего на основании Устава, и              
            <div class="important">{{ clientname }}, </div>
            <div class="important-caption"> (фамилия, имя, отчество (при наличии) законного представителя  несовершеннолетнего лица) </div> 
            именуемый(ая) в дальнейшем «Заказчик», и
            <div class="important">{{ studentname }}, </div>
            <div class="important-caption"> (фамилия, имя, отчество (при наличии) лица, зачисляемого на обучение) </div> 
            именуемый(ая) в дальнейшем «Обучающийся» (заполняется в отношении лица, зачисляемого на обучение, которому на момент заключения Договора исполнилось четырнадцать лет), 
            совместно именуемые Стороны, заключили настоящий Договор о нижеследующем:
        </p>

        <div class="p-header">
            I. Предмет Договора
        </div>

        <p>
            1.1. Исполнитель обязуется предоставить образовательную услугу, а заказчик обязуется оплатить
            образовательную услугу по предоставлению дополнительной образовательной программы             
            <div class="important">{% if courcename %} {{ courcename }} {% else %} Практический базовый курс китайского языка для детей {% endif %}</div>  
            <div class="important-caption"> (наименование дополнительной образовательной программы) </div>          
            <div class="important">{% if courceform %} {{ courceform }} {% else %} в количестве 16 часов в месяц {% endif %}  </div>
            <div class="important-caption"> (форма обучения, вид, уровень и (или) направленность образовательной программы (часть образовательной программы определенного уровня, вида и (или) направленности)) </div>
            в пределах федерального государственного образовательного стандарта или
            федеральных государственных требований в соответствии с учебными планами, в том числе индивидуальными,
            и образовательными программами Исполнителя.
        </p>
        <p>
            1.2. Срок освоения образовательной программы на момент подписания Договора составляет 
            <div class="important">{% if courcelen %} {{ courcelen }} {% else %} 9 месяцев с 01.09.2023  по 31.05.2024 {% endif %} </div>
            <div class="important-caption"> (количество лет, месяцев) </div> 
            Срок обучения по индивидуальному учебному плану, в том числе ускоренному обучению, составляет
            {% if courceforcelen %} <div class="important"> {{ courceforcelen }} </div> {% else %} <hr> {% endif %} 
            <div class="important-caption"> (количество лет, месяцев) </div>  
        </p>
        <p>
            1.3. После освоения Обучающимся образовательной программы и успешного прохождения итоговой аттестации ему
            выдается {% if courceravard %} {{ courceravard }} {% else %} сертификат {% endif %}.
        </p>

        <div class="p-header">
            II. Права Исполнителя, Заказчика и Обучающегося
        </div>

        <p>
            2.1. Исполнитель вправе:
        </p>
        <p>
            2.1.1. Самостоятельно осуществлять образовательный процесс, устанавливать системы оценок, формы, порядок
            и периодичность проведения промежуточной аттестации Обучающегося.
        </p>
        <p>
            2.1.2. Применять к Обучающемуся меры поощрения и меры дисциплинарного взыскания в соответствии
            с законодательством Российской Федерации, учредительными документами Исполнителя, настоящим Договором
            и локальными нормативными актами Исполнителя.
        </p>
        <p>
            2.2. Заказчик вправе получать информацию от Исполнителя по вопросам организации и обеспечения надлежащего
            предоставления услуг, предусмотренных разделом I настоящего Договора.
        </p>
        <p>
            2.3. Обучающемуся предоставляются академические права в соответствии с ч. 1 ст. 34 Федерального закона от
            29 декабря 2012 г. № 273ФЗ «Об образовании в Российской Федерации». Обучающийся также вправе:
        </p>
        <p>
            2.3.1. Получать информацию от Исполнителя по вопросам организации и обеспечения надлежащего предоставления
            услуг, предусмотренных разделом I настоящего Договора.
        </p>
        <p>
            2.3.2. Обращаться к Исполнителю по вопросам, касающимся образовательного процесса.
        </p>
        <p>
            2.3.3. Пользоваться в порядке, установленном локальными нормативными актами, имуществом Исполнителя,
            необходимым для освоения образовательной программы.
        </p>
        <p>
            2.3.4. Принимать в порядке, установленном локальными нормативными актами, участие в социально-культурных,
            оздоровительных и иных мероприятиях, организованных Исполнителем.
        </p>
        <p>
            2.3.5. Получать полную и достоверную информацию об оценке своих знаний, умений, навыков и компетенций,
            а также о критериях этой оценки.
        </p>

        <div class="p-header">
            III. Обязанности Исполнителя, Заказчика и Обучающегося
        </div>

        <p>
            3.1. Исполнитель обязан:
        </p>
        <p>
            3.1.1. Зачислить Обучающегося, выполнившего установленные законодательством Российской Федерации,
            учредительными документами, локальными нормативными актами Исполнителя условия приема, в качестве 
            {% if studenttype %} {{ studenttype }} {% else %} слушателя {% endif %}.
        </p>
        <p>
            3.1.2. Довести до Заказчика информацию, содержащую сведения о предоставлении платных образовательных услуг
            в порядке и объеме, которые предусмотрены Законом Российской Федерации «О защите прав потребителей»
            и Федеральным законом «Об образовании в Российской Федерации».
        </p>
        <p>
            3.1.3. Организовать и обеспечить надлежащее предоставление образовательных услуг, предусмотренных разделом I
            настоящего Договора. Образовательные услуги оказываются в соответствии с федеральным государственным
            образовательным стандартом или федеральными государственными требованиями, учебным планом, в том числе
            индивидуальным, и расписанием занятий Исполнителя.
        </p>
        <p>
            3.1.4. Обеспечить Обучающемуся предусмотренные выбранной образовательной программой условия ее освоения.
        </p>
        <p>
            3.1.5. Сохранить место за Обучающимся в случае пропуска занятий по уважительным причинам (с учетом оплаты
            услуг, предусмотренных разделом 1 настоящего Договора).
        </p>
        <p>
            3.1.6. Принимать от Обучающегося и (или) Заказчика плату за образовательные услуги.
        </p>
        <p>
            3.1.7. Обеспечить Обучающемуся уважение человеческого достоинства, защиту от всех форм физического
            и психического насилия, оскорбления личности, охрану жизни и здоровья.
        </p>
        <p>
            3.2. Заказчик обязан своевременно вносить плату за предоставляемые Обучающемуся образовательные услуги,
            указанные в разделе I настоящего Договора, в размере и порядке, определенных настоящим Договором, а также
            предоставлять платежные документы, подтверждающие такую оплату.
        </p>
        <p>
            3.3. Обучающийся обязан соблюдать требования, установленные в ст. 43 Федерального закона от 29 декабря
            2012 г. № 273ФЗ «Об образовании в Российской Федерации», в том числе:
        </p>
        <p>
            3.3.1. Выполнять задания для подготовки к занятиям, предусмотренным учебным планом, в том числе
            индивидуальным.
        </p>
        <p>
            3.3.2. Извещать Исполнителя о причинах отсутствия на занятиях.
        </p>
        <p>
            3.3.3. Обучаться в образовательной организации по образовательной программе с соблюдением требований,
            установленных федеральным государственным образовательным стандартом или федеральными государственными
            требованиями и учебным планом Исполнителя, в том числе индивидуальным.
        </p>
        <p>
            3.3.4. Соблюдать требования учредительных документов, правила внутреннего распорядка и иные локальные
            нормативные акты Исполнителя.
        </p>

        <div class="p-header">
            IV. Стоимость услуг, сроки и порядок их оплаты
        </div>

        <p>
            4.1. Полная стоимость платных образовательных услуг за весь период обучения Обучающегося составляет            
            <div class="important">{% if courceprice %} {{ courceprice }} {% else %} 36 000 (тридцать шесть тысяч){% endif %} рублей без НДС.</div>
            <div class="important-caption"> (сумма) </div> 
            Увеличение стоимости образовательных услуг после заключения Договора не
            допускается, за исключением увеличения стоимости указанных услуг с учетом уровня инфляции, предусмотренного
            основными характеристиками федерального бюджета на очередной финансовый год и плановый период.
        </p>
        <p>
            4.2. Оплата производится ежемесячно, не позднее 25 числа месяца, предшествующего периоду оплаты в размере 
            <div class="important">{% if courcepricemonth %} {{ courcepricemonth }} {% else %} 4 000 (четыре тысячи) {% endif %} рублей</div>
            <div class="important-caption"> (сумма) </div> 
            ежемесячно, не позднее 25 числа месяца, предшествующего периоду оплаты в размере  в безналичном порядке на счет, указанный в разделе IX настоящего Договора.
        </p>

        <div class="p-header">
            V. Основания изменения и расторжения Договора
        </div>

        <p>
            5.1. Условия, на которых заключен настоящий Договор, могут быть изменены по соглашению Сторон или
            в соответствии с законодательством Российской Федерации.
        </p>
        <p>
            5.2. Настоящий Договор может быть расторгнут по соглашению Сторон.
        </p>
        <p>
            5.3. Настоящий Договор может быть расторгнут по инициативе Исполнителя в одностороннем порядке в случаях:
        </p>
        <p>
            – установления нарушения порядка приема в образовательную организацию, повлекшего по вине Обучающегося его
            незаконное зачисление в эту образовательную организацию;
        </p>
        <p>
            – просрочки оплаты стоимости платных образовательных услуг;
        </p>
        <p>
            – невозможности надлежащего исполнения обязательства по оказанию платных образовательных услуг вследствие
            действий (бездействия) Обучающегося;
        </p>
        <p>
            – в иных случаях, предусмотренных законодательством Российской Федерации.
        </p>
        <p>
            5.4. Настоящий Договор расторгается досрочно:
        </p>
        <p>
            – по инициативе Обучающегося или родителей (законных представителей) несовершеннолетнего Обучающегося, в том
            числе в случае перевода Обучающегося для продолжения освоения образовательной программы в другую
            организацию, осуществляющую образовательную деятельность;
        </p>
        <p>
            – по инициативе Исполнителя в случае применения к Обучающемуся, достигшему возраста пятнадцати лет,
            отчисления как меры дисциплинарного взыскания, в случае невыполнения Обучающимся по образовательной
            программе обязанностей по добросовестному освоению такой образовательной программы и выполнению учебного
            плана, а также в случае установления нарушения порядка приема в образовательную организацию, повлекшего по
            вине Обучающегося его незаконное зачисление в образовательную организацию;
        </p>
        <p>
            - по инициативе Заказчика, если Исполнитель нарушил сроки оказания образовательной услуги (сроки начала и
            (или) промежуточные сроки оказания образовательной услуги) либо если во время оказания образовательной
            услуги стало очевидным, что она не будет осуществлена в срок;
        </p>
        <p>
            – по обстоятельствам, не зависящим от воли Обучающегося или родителей (законных представителей)
            несовершеннолетнего Обучающегося и Исполнителя, в том числе в случае ликвидации Исполнителя.
        </p>
        <p>
            5.5. Исполнитель вправе отказаться от исполнения обязательств по Договору при условии полного возмещения
            Заказчику убытков.
        </p>
        <p>
            5.6. Заказчик вправе отказаться от исполнения настоящего Договора при условии оплаты Исполнителю фактически
            понесенных им расходов, связанных с исполнением обязательств по Договору.
        </p>

        <div class="p-header">
            VI. Ответственность Исполнителя, Заказчика и Обучающегося
        </div>

        <p>
            6.1. За неисполнение или ненадлежащее исполнение своих обязательств по Договору Стороны несут
            ответственность, предусмотренную законодательством Российской Федерации и Договором.
        </p>
        <p>
            6.2. При обнаружении недостатка образовательной услуги, в том числе оказания ее не в полном объеме,
            предусмотренном образовательными программами (частью образовательной программы), Заказчик вправе по своему
            выбору потребовать:
        </p>
        <p>
            6.2.1. Безвозмездного оказания образовательной услуги.
        </p>
        <p>
            6.2.2. Соразмерного уменьшения стоимости оказанной образовательной услуги.
        </p>
        <p>
            6.2.3. Возмещения понесенных им расходов по устранению недостатков оказанной образовательной услуги своими
            силами или третьими лицами.
        </p>
        <p>
            6.3. Заказчик вправе отказаться от исполнения Договора и потребовать полного возмещения убытков, если
            в 10-дневный срок недостатки образовательной услуги не устранены Исполнителем. Заказчик также вправе
            отказаться от исполнения Договора, если им обнаружен существенный недостаток оказанной образовательной
            услуги или иные существенные отступления от условий Договора.
        </p>
        <p>
            6.4. Если Исполнитель нарушил сроки оказания образовательной услуги (сроки начала и (или) окончания оказания
            образовательной услуги и (или) промежуточные сроки оказания образовательной услуги) либо если во время
            оказания образовательной услуги стало очевидным, что она не будет осуществлена в срок, Заказчик вправе по
            своему выбору:
        </p>
        <p>
            6.4.1. Назначить Исполнителю новый срок, в течение которого Исполнитель должен приступить к оказанию
            образовательной услуги и (или) закончить оказание образовательной услуги.
        </p>
        <p>
            6.4.2. Поручить оказать образовательную услугу третьим лицам за разумную цену и потребовать от Исполнителя
            возмещения понесенных расходов.
        </p>
        <p>
            6.4.3. Потребовать уменьшения стоимости образовательной услуги.
        </p>
        <p>
            6.4.4. Расторгнуть Договор.
        </p>
        <p>
            6.5. Заказчик вправе потребовать полного возмещения убытков, причиненных ему в связи с нарушением сроков
            начала и (или) окончания оказания образовательной услуги, а также в связи с недостатками образовательной
            услуги.
        </p>

        <div class="p-header">
            VII. Срок действия Договора
        </div>

        <p>
            7.1. Настоящий Договор вступает в силу со дня его заключения Сторонами и действует до полного исполнения
            Сторонами обязательств.
        </p>

        <div class="p-header">
            VIII. Заключительные положения
        </div>

        <p>
            8.1. Сведения, указанные в настоящем Договоре, соответствуют информации, размещенной на официальном сайте
            Исполнителя в сети «Интернет» на дату заключения настоящего Договора.
        </p>
        <p>
            8.2. Под периодом предоставления образовательной услуги (периодом обучения) понимается промежуток времени
            с даты издания приказа о зачислении Обучающегося в образовательную организацию до даты издания приказа об
            окончании обучения или отчислении Обучающегося из образовательной организации.
        </p>
        <p>
            8.3. Настоящий Договор составлен в двух экземплярах, по одному для каждой из Сторон. Все экземпляры имеют
            одинаковую юридическую силу. Изменения и дополнения настоящего Договора могут производиться только
            в письменной форме и подписываться уполномоченными представителями Сторон.
        </p>
        <p>
            8.4. Изменения Договора оформляются дополнительными соглашениями к Договору.
        </p>

        <div class="p-header">
            IX. Адреса и реквизиты Сторон
        </div>

        <table>
            <tr style="text-align: center; font-weight: bold;">
                <th>Исполнитель</th>
                <th>Заказчик</th>
                <th>Обучающийся</th>
            </tr>
            <tr>
                <td>ФГАОУ ВО «Российский государственный профессионально-педагогический университет»</td>
                <td style="text-align: center;"><div class="important">{{ clientname }}</div> <div class="important-caption"> (фамилия, имя, отчество (при наличии) / наименование юридического лица) </div> </td>
                <td style="text-align: center;"><div class="important">{{ studentname }}</div> <div class="important-caption"> (фамилия, имя, отчество (при наличии)) </div></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center;"><div class="important">{{ clientbirth }}</div> <div class="important-caption"> (дата рождения) </div></td>
                <td style="text-align: center;"><div class="important">{{ studentbirth }}</div> <div class="important-caption"> (дата рождения) </div> </td>
            </tr>
            <tr>
                <td>620012 Екатеринбург, ул. Машиностроителей, 11</td>
                <td style="text-align: center;"><div class="important">{{ clientaddress }}</div> <div class="important-caption"> (место нахождения / адрес места жительства) </div></td>
                <td style="text-align: center;"><div class="important">{{ studentaddress }}</div> <div class="important-caption"> (адрес места жительства) </div></td>
            </tr>
            <tr>
                <td>ИНН 6663019889 <br> КПП 668601001 <br> Реквизиты казначейского счета: <br> УФК по Свердловской области (РГППУ л/с
                    30626Щ76270) <br> Уральское ГУ Банка России г. Екатеринбург <br> БИК 016577551 <br> ЕКС сч.40102810645370000054 <br>
                    Банк сч.№03214643000000016200</td>
                <!-- studentrequisits = [studentid, studentbank, studentphone, studentemail] -->
                <td style="text-align: center;">
                    <div class="important">{{ clientrequisits[0] }}</div> <div class="important-caption"> (паспорт: серия, номер, кем и когда выдан) </div>
                    {% if clientrequisits[1] %} <div class="important">{{ clientrequisits[1] }}</div> {% else %} <hr> {% endif %} <div class="important-caption"> (банковские реквизиты (при наличии)) </div>
                    <div class="important">{{ clientrequisits[2] }}</div> <div class="important-caption"> (телефон) </div>
                    <div class="important">{{ clientrequisits[3] }}</div> <div class="important-caption"> (адрес электронной почты) </div>
                </td>
                <td style="text-align: center;">
                    <div class="important">{{ studentrequisits[0] }}</div> <div class="important-caption"> (паспорт: серия, номер, кем и когда выдан) </div>      
                    {% if studentrequisits[1] %} <div class="important">{{ studentrequisits[1] }}</div> {% else %} <hr> {% endif %} <div class="important-caption"> (банковские реквизиты (при наличии)) </div>
                    <div class="important">{{ studentrequisits[2] }}</div> <div class="important-caption"> (телефон) </div>
                    <div class="important">{{ studentrequisits[3] }}</div> <div class="important-caption"> (адрес электронной почты) </div>
                </td>
            </tr>
            <tr>
                <td> <hr>  <div class="important-caption"> (подпись) </div> <div style="text-align: right;">В. В. Дубицкий </div><br> М.П.</td>
                <td style="text-align: center;"><hr>  <div class="important-caption"> (подпись) </div> </td>
                <td style="text-align: center;"><hr>  <div class="important-caption"> (подпись) </div> </td>
            </tr>
            <tr>
                <td>Главный бухгалтер <hr>  <div class="important-caption"> (подпись) </div> <div style="text-align: right;"> С. А. Голякова </div></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><hr>  <div class="important-caption"> (подпись руководителя и печать образовательного подразделения) </div>  </td>
                <td></td>
                <td></td>
            </tr>
        </table>

    </div>
{% endblock %}

