{% extends "base.html" %}
{% block content %}
    <div class="content">

       <div class="p-header">
            {% if contractnumber %}
            ДОГОВОР № {{ contactnumber }}
            {% else %}
            ДОГОВОР № ____________
            {% endif %}
            <br>
            об оказании платных образовательных  услуг 
            <br>
            по проведению международного экзамена по китайскому языку (HSK)
        </div>

        <br>

        <p class="leftstr">Екатеринбург</p>
        <p class="rightstr">{% if contractdate %} {{ contractdate }} {% else %} «___»____________20___г. {% endif %}</p>
        <div style="clear: left"></div>

        <br>

        <p>
            Федеральное государственное автономное образовательное учреждение высшего образования «Российский государственный профессионально-педагогический 
            университет» (РГППУ), осуществляющее образовательную дея-тельность (далее – образовательная организация) на основании лицензии Федеральной 
            службы по надзору в сфере образования и науки от 17.03.2016 № 2003, свидетельства о государственной аккредитации Федеральной службы по надзору 
            в сфере образования и науки от 28.11.2018 № 2948, именуемое в дальнейшем «Исполнитель», в лице исполняющего обязанности ректора Дубицкого Валерия 
            Васильевича, действующего на основании Устава, и 
            <div class="important">{{ studentname }}, </div> 
            <div class="important-caption"> (фамилия, имя, отчество (при наличии) лица, зачисляемого на обучение) </div> 
            именуемый(ая) в дальнейшем «Экзаменуемый», выступающий(ая) в двустороннем договоре одновременно в качестве Заказчика, совместно именуемые «Стороны», заключили настоящий Договор о нижеследующем:
        </p>

        <div class="p-header">
            1. Предмет Договора
        </div>

        <p>
            1.1. Исполнитель обязуется предоставить услугу, а Заказчик обязуется оплатить услугу по проведению международного экзамена по китайскому языку
            <div class="important">{{ examtype }} {{ examlevel}}</div>   
            <div class="important-caption"> (вид экзамена (HSK/HSKK/YCT); уровень) </div>           
        </p>
        <p>
            1.2. Дата проведения экзамена {% if examdate %} {{ examdate }} {% else %} ____________ {% endif %}
        </p>
        <p>
            1.3. По результатам сдачи экзамена Заказчику выдается сертификат о сдаче экзамена.
        </p>

        <div class="p-header">
            2. Права и обязанности Сторон
        </div>

        <p><b>
            2.1. Исполнитель обязан: 
        </b></p>
        <p>
            2.1.1. Организовать и провести прием международного экзамена по китайскому языку у Экзаменуемого в соответствии с порядком и правилами проведения международного экзамена 
            по китайскому языку (HSK), опубликованными на сайте  www.chinesetest.cn/gotestlaw.do.
        </p>
        <p>
            2.1.2. Довести до Экзаменуемого, Заказчика  информацию о порядке и сроках проведения экзамена.
        </p>
        <p>
            2.1.3. Выдать Экзаменуемому сертификат о сдаче экзамена.
        </p>
        <p><b>
            2.2. Исполнитель вправе:
        </b></p>
        <p>
            2.2.1. Не допустить Экзаменуемого к сдаче экзамена, в случае, если не произведена оплата по настоящему Договору.
        </p>
        <p><b>
            2.3. Экзаменуемый обязан:
        </b></p>
        <p>
            2.3.1. Ознакомиться с порядком и правилами проведения международного экзамена по китайскому языку (HSK), опубликованными на сайте www.chinesetest.cn/gotestlaw.do.
        </p>
        <p>
            2.3.2. Прибыть на экзамен в установленное время;
        </p>
        <p>
            2.3.3. Соблюдать порядок и дисциплину во время проведения экзамена.
        </p>
        <p>
            2.3.4. Соблюдать порядок и правила проведения международного экзамена по китайскому языку (HSK), опубликованные на сайте www.chinesetest.cn/gotestlaw.do.
        </p>
        <p><b>
            2.4. Экзаменуемый вправе: 
        </b></p>
        <p>
            2.4.1. Получать информацию от Исполнителя по вопросам организации и обеспечения надлежащего предоставления услуги, предусмотренной разделом 1 настоящего Договора.
        </p>

        <div class="p-header">
            3. Порядок оплаты
        </div>

        <p>
            3.1. Плата за участие в проведении международного экзамена {{ examtype }} на {{ examlevel }} уровень составляет 
            <div class="important"> {{examprise_digit}} {% if examprise_text %} ({{examprise_text}}) {% else %} {% endif %}            
            рублей, включая НДС 20%  в размере {{ examnds }} рублей.</div>
            <div class="important-caption"> (сумма) </div>
        </p>
        <p>
            3.2. Оплата должна быть произведена Заказчиком не позднее даты окончания регистрации на сайте www.chinesetest.cn/gotestlaw.do путем перечисления денежных средств 
            Заказчиком на расчетный счет Исполнителя, указанный в разделе 6 настоящего Договора.
        </p>

        <div class="p-header">
            4. Порядок разрешения споров
        </div>

        <p>
            4.1. При возникновении спора между сторонами, сторона, чьи интересы оказались нарушенными другой стороной, обязана принять меры к урегулированию спора. 
            Заинтересованная сторона обязана направить другой стороне претензию в письменном виде, обосновав свои требования.
        </p>
        <p>
            4.2. Сторона, получившая претензию, обязана рассмотреть ее и дать письменный ответ в 20-тидневный срок со дня получения претензии, либо, признав 
            претензию обоснованной, выполнить предъявленные требования.
        </p>
        <p>
            4.3. При недостижении согласия спор рассматривается в судебном порядке.
        </p>

        <div class="p-header">
            5. Заключительные положения
        </div>

        <p>
            5.1. Настоящий Договор вступает в силу в день его заключения Сторонами и действует до полного исполнения Сторонами обязательств.
        </p>
        <p>
            5.2. Настоящий Договор составлен в 2 экземплярах, по одному для каждой из Сторон. Все экземпляры имеют одинаковую юридическую силу. 
        </p>

        <div class="p-header">
            6. Адреса и реквизиты Сторон
        </div>

        <table>
            <tr style="text-align: center; font-weight: bold;">
                <th>Исполнитель</th>
                <th>Заказчик</th>
                <th>Экзаменуемый</th>
            </tr>
            <tr>
                <td>ФГАОУ ВО «Российский государственный профессионально-педагогический университет»</td>
                <td style="text-align: center;"><hr> <div class="important-caption"> (фамилия, имя, отчество (при наличии) / наименование юридического лица) </div> </td>
                <td style="text-align: center;"><div class="important">{{ studentname }}</div> <div class="important-caption"> (фамилия, имя, отчество (при наличии)) </div></td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: center;"><hr> <div class="important-caption"> (дата рождения) </div></td>
                <td style="text-align: center;"><div class="important">{{ studentbirth }}</div> <div class="important-caption"> (дата рождения) </div> </td>
            </tr>
            <tr>
                <td>620012 Екатеринбург, ул. Машиностроителей, 11</td>
                <td style="text-align: center;"><hr> <div class="important-caption"> (место нахождения / адрес места жительства) </div></td>
                <td style="text-align: center;"><div class="important">{{ studentaddress }}</div> <div class="important-caption"> (адрес места жительства) </div></td>
            </tr>
            <tr>
                <td>ИНН 6663019889 <br> КПП 668601001 <br> Реквизиты казначейского счета: <br> УФК по Свердловской области (РГППУ л/с
                    30626Щ76270) <br> Уральское ГУ Банка России г. Екатеринбург <br> БИК 016577551 <br> ЕКС сч.40102810645370000054 <br>
                    Банк сч.№03214643000000016200</td>
                <!-- studentrequisits = [studentid, studentbank, studentphone, studentemail] -->
                <td style="text-align: center;">
                    <hr> <div class="important-caption"> (паспорт: серия, номер, кем и когда выдан) </div>
                    <hr> <div class="important-caption"> (банковские реквизиты (при наличии)) </div>
                    <hr> <div class="important-caption"> (телефон) </div>
                    <hr> <div class="important-caption"> (адрес электронной почты) </div>
                </td>
                <td style="text-align: center;">
                    <div class="important">{{ studentrequisits[0] }}</div> <div class="important-caption"> (паспорт: серия, номер, кем и когда выдан) </div>      
                    {% if studentrequisits[1] %} <div class="important">{{ studentrequisits[1] }}</div> {% else %} <hr> {% endif %} <div class="important-caption"> (банковские реквизиты (при наличии)) </div>
                    <div class="important">{{ studentrequisits[2] }}</div> <div class="important-caption"> (телефон) </div>
                    <div class="important">{{ studentrequisits[3] }}</div> <div class="important-caption"> (адрес электронной почты) </div>
                </td>
            </tr>
            <tr>
                <td> <hr>  <div class="important-caption"> (подпись) </div> <div style="text-align: right;">В. В. Дубицкий </div><br> М.П.</td>
                <td style="text-align: center;"><hr>  <div class="important-caption"> (подпись) </div> </td>
                <td style="text-align: center;"><hr>  <div class="important-caption"> (подпись) </div> </td>
            </tr>
            <tr>
                <td>Главный бухгалтер <hr>  <div class="important-caption"> (подпись) </div> <div style="text-align: right;"> С. А. Голякова </div></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><hr>  <div class="important-caption"> (подпись руководителя и печать образовательного подразделения) </div>  </td>
                <td></td>
                <td></td>
            </tr>
        </table>

    </div>
{% endblock %}





