<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{base_url}}/static/bootstrap.min.css">
    <link rel="stylesheet" href="{{base_url}}/static/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Школа Конфуция РГППУ</title>
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{base_url}}/forms">
                <i class="fas fa-graduation-cap"></i> Школа Конфуция РГППУ
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{base_url}}/moderation">
                            <i class="fas fa-user-shield"></i> Админка
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{base_url}}/logout">
                            <i class="fas fa-sign-out-alt"></i> Выйти
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{base_url}}/moderation">
                            <i class="fas fa-user-shield"></i> Админка
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div>
        <!-- Content -->
        <main role="main" class="container">
            <div class="jumbotron">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>